<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="userService" class="com.cb.service.UserService">
		<property name="name">
			<value>陈斌</value>
		</property>
		<property name="byeService" ref="byeService" />
	</bean>
	
	<bean id="byeService" class="com.cb.service.ByeService">
		<property name="name" value="陈斌" />
	</bean>
	
</beans>
